:root {
	--font: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	--windowWidth: 500px;
	--bgTheme: #fff;
	--colorTheme: #262626;
	--primaryColor: #2693e6;
}
body[data-dark='true'] {
	--bgTheme: #232323;
	--colorTheme: #fff;
}
html {
	box-sizing: border-box;
	font-size: 14px;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
body {
	width: var(--windowWidth);
	margin: 0;
	font-family: var(--font);
	font-size: 1rem;
}
.pass {
  background-color: var(--bgTheme);
  color: var(--colorTheme);
  padding: .5rem 0;
	position: relative;
}
.pass__title {
  text-align: center;
  font-size: 120%;
  text-transform: uppercase;
  padding-bottom: 1rem;
}
.pass__section-title {
  text-align: center;
  font-size: 1rem;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	height: 230px;
}
.col {
	width: 50%;
	padding: 0 1rem;
}
.col--passwords {
	position: fixed;
	right: 0;
	overflow-y: auto;
	overflow-x: hidden;
	height: 210px;
}
.col--passwords::-webkit-scrollbar {
	width: 5px;
}
.col--passwords::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: var(--primaryColor);
}
.pass__group {
	margin-bottom: 1rem;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	position: relative;
}
.pass__group label {
	font-size: 90%;
	user-select: none;
	cursor: pointer;
}
.pass__group input,
.btn {
  outline: none;
}
.checkbox {
	cursor: pointer;
  position: absolute;
	opacity: 0;
	width: 100%;
	height: 100%;
	z-index: 9;
}
.custom-check {
	border: 1px solid var(--primaryColor);
	height: 20px;
	width: 20px;
	position: relative;
}
.custom-check::before {
	content: '';
	opacity: 0;
	width: 10px;
	height: 10px;
	position: absolute;
	transition: opacity .4s;
	background: var(--primaryColor);
	display: block;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.checkbox:checked + .custom-check::before {
	opacity: 1;
}
.textfield {
  width: 60px;
	font-family: inherit;
  padding: 5px;
	font-size: 100%;
	color: var(--colorTheme);
	border: 1px solid var(--primaryColor);
	text-align: center;
	background-color: transparent;
}
.btn-center {
	text-align: center;
}
.btn {
  background-color: var(--primaryColor);
  border: 0;
  color: #fff;
  padding: 10px 35px;
  cursor: pointer;
	font-family: inherit;
	letter-spacing: 2px;
	font-weight: 600;
	transition: opacity .4s;
}
.btn:hover {
  opacity: .8;
}
.pass__result {
	text-align: left;
}
.pass__item {
	cursor: pointer;
	font-weight: 400;
	margin-bottom: .5rem;
	position: relative;
	padding-left: 2.5rem;
	counter-increment: item;
	opacity: 0;
	transform: translateX(20px);
	animation: showPass .5s ease-out forwards;
}
@keyframes showPass {
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}
.pass__item::before {
	content: counter(item);
	text-align: center;
	background: #2693e6;
	padding: 0 .4rem;
	color: #fff;
	position: absolute;
	left: 0;
}
.pass__item:hover {
	text-shadow: 0 0 1px #fff;
}
.pass__copy {
	position: absolute;
	top: 0px;
	right: 0px;
	font-size: 80%;
	background: #fff;
	color: #262626;
	padding: 3px 10px;
	transform: translate(0, -20%);
	opacity: 0;
	z-index: 200;
	transition: opacity .4s, transform .4s;
}
.pass__copy.show {
	opacity: 1;
	transform: translate(0,0);
}
.history-icon {
	fill: var(--primaryColor);
	opacity: 1;
	cursor: pointer;
	position: absolute;
	right: 10px;
	top: 10px;
	width: 25px;
	height: 25px;
	z-index: 110;
	transition: opacity .4s;
	filter: drop-shadow(0 0 4px rgba(0,0,0,0.4))
}
.history-icon:hover {
	opacity: .6;
}
.history-drawer {
	position: absolute;
	background: var(--colorTheme);
	width: 50%;
	color: var(--bgTheme);
	z-index: 100;
	right: -50%;
	top: 0;
	height: 100%;
	padding: 2.5rem;
	box-shadow: -3px 0 7px rgba(0,0,0, .2);
	overflow-y: scroll;
	transition: transform .4s;
}
.history-drawer::-webkit-scrollbar {
	width: 5px;
}
.history-drawer::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: var(--primaryColor);
}
.history-drawer__item {
	margin-bottom: .4rem;
	cursor: pointer;
	opacity: 1;
	transition: opacity .4s;
	counter-increment: item;
}
.history-drawer__item::before {
	content: counter(item);
	background-color: var(--primaryColor);
	color: #fff;
	text-align: center;
	padding: 0 .4rem;
	margin-right: .4rem;
	vertical-align: middle;
}
.history-drawer__item:hover {
	opacity: .6;
}
.active-drawer .history-drawer {
	transform: translateX(-100%);
}
.history__bg {
	background: rgba(255, 255, 255, 0.2);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	opacity: 0;
	transition: opacity .4s, z-index .4s;
}
.active-drawer .history__bg {
	opacity: 1;
	z-index: 10;
}
.iscopy {
	opacity: .6;
}